ul, li, div {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.item {
    position: relative;
    margin: 1em;
    border: 1px solid gray;
}
.item--added {
    background: black;
    color: white !important;
}
.item__image {
    width: 100%;
    height: auto;
}
.item__offer {
    position: absolute;
    top: .5em;
    left: 0;
    font-size: .9em;
    background: gray;
    color: white;
    cursor: pointer;
}
.item__name {
    position: absolute;
    left: 0;
    bottom: 0;
}
.item__price {
    position: absolute;
    right: 0;
    bottom: 0;
}
.item__action {
    display: inline-block;
    background: black;
    color: white;
    font-weight: bold;
}
.item__name, .item__price, .item__action, .item__offer {
    padding: .5em;
}