ul, li, div {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
h2 {
    font-weight: normal;
}
.nav__cart__counter {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: .1em;
    right: .1em;
    line-height: 2em;
    font-size: .6em;
    font-weight: bold;
    text-align: center;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: gray;
    transition: opacity 1s;
}
.item {
    position: relative;
    margin: 1em;
    border: 1px solid #D3D3D3;
}
.item--added {
    background: gray;
    color: white;
    border-color: black;
}
.item__image {
    width: 100%;
    height: auto;
}
.item__name {
    position: absolute;
    top: .5em;
    left: 0;
    font-size: 1.3em;
    color: white;
    background: gray;
}
.item__offer {
    background: #EEBC1D;
    color: black;
}
.item__offer, .item__name {
    padding: .2em;
}
.item__price {
    position: absolute;
    left: 0;
    bottom: 0;
}
.item__cart {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.item__action {
    display: inline-block;
    background: black;
    color: white;
    cursor: pointer;
}
.item__name, .item__price, .item__action, .item__cart {
    padding: .5em;
}
.item--added .item__cart {
    display: inline;
}
.item--removing {
    opacity: .4;
}