<script type="text/template" id="off1-template">
    <p class="item__offer">Buy one, get one free</p>
</script>
<script type="text/template" id="reduced3-template">
    <p class="item__offer">Buy 3+ and pay <%- Micado.Currency %><%- discountPrice %> for each</p>
</script>
<script type="text/template" id="item-card-template">
    <li class="item <% if (!isCartItem() && inCart()) { %> item--added <% } %>">
        <h2 class="item__name"><%- name %></h2>
        <div class="item__frame">
            <img class="item__frame__image" alt="<%- name %>" src="<%- image %>" />
        </div>
        <% if (!isCartItem()) { %>
            <%= discountPromo(discountCode) %>
        <% } %>
        <a class="item__action" href="javascript:void(0)"><%- actionName %></a>
        <span class="item__price"><%- humanPrice() %></span>
        <span class="item__cart">
            <span class="item__cart__number"><%- !isCartItem() && inCart() %></span> 
            added
        </span> 
    </li>
</script>
<script type="text/template" id="items-template">
    <h1>Products</h1>
    <ul class="list items"></ul>
</script>
<script type="text/template" id="cart-template">
    <h1>Cart</h1>
    <p class="total">
        Total: 
        <%- Micado.Currency %><!--
        --><span class="total__figure"><%- total %></span>
    </p>
    <ul class="list cart"></ul>
</script>
