<script type="text/template" id="item-card-template">
    <li class="item <%- addedClass && addedClass() %>">
        <img class="item__image" alt="<%- name %>" src="<%- image %>" />
        <span class="item__name"><%- name %></span>
        <span class="item__price"><%- Micado.Currency %><%- price %></span>
        <a class="item__action" href="#"><%- actionName %></a>
    </li>
</script>
<script type="text/template" id="items-template">
    <h1>Products</h1>
    <ul class="list"></ul>
</script>
<script type="text/template" id="cart-template">
    <h1>Cart</h1>
    <p class="total">
        Total: 
        <span class="total__currency"><%- Micado.Currency %></span><span class="total__figure"><%- total %></span>
    </p>
    <ul class="list"></ul>
</script>
